.creator-profile {
  @apply relative w-full box-border;
  max-width: 500px;
}

.creator-profile > h1 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.creator-profile-avatar > span {
  background: transparent;
}

.creator-profile > section,
.creator-profile > form > section {
  @apply relative w-full mt-[24px];
}

.creator-profile > section > h2,
.creator-profile > form > section > h2 {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.creator-profile > section > input[type='text'],
.creator-profile > form > section > input[type='text'] {
  @apply relative w-[500px] mt-[8px];

  height: 37px;
  background: transparent;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  background: #fff;
}

.creator-profile > form > section > textarea {
  @apply relative w-[500px] mt-[8px];

  border-radius: 8px;
  outline: none;
  box-shadow: none;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 12px 16px;
  box-sizing: border-box;
  resize: none;
}

.change-photo {
  position: relative;
  background: transparent;
  padding: 0;
  box-sizing: border-box;
  width: 120px;
  overflow: hidden;
  color: #01376b;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
