.appslist-container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}
  
.apps-wrapper {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    margin: 5px 0px;
}