.button {
  position: relative;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  overflow: hidden;
}

.primary-button {
  @apply flex items-center justify-center mt-4 mb-2;

  height: 40px;
  width: 100%;
  border-radius: 4px;
  background: #3fcf8e;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
}

.primary-button:hover {
  background: #34b27b;
}

.primary-button > p {
  font-size: 14px;
  color: #fff;
  font-weight: normal;
}

.button-loading {
  @apply flex justify-center items-center;

  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
}

.button-disabled {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0.5;
  cursor: not-allowed;
}
