.main-component {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 98vw;
    z-index: 3;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}