.app-nav {
  @apply flex;

  flex-direction: column;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 46px;
  box-sizing: border-box;
  padding: 16px 4px;
}

.logo {
  background: transparent;
}

.sign-in,
.login {
  @apply flex justify-center items-center;

  max-width: 100px;
}

.sign-in,
.login {
  border-radius: 80px;
  background: var(--tans-off-white, #fffff7);
  padding: 4px 6px;
  box-sizing: border-box;
}

.sign-in > p,
.login > p {
  max-width: 100%;
  font-size: 13px;
  font-weight: 500;
  color: var(--browns-dark-brown, #44373c);
}

.login {
  margin-right: 8px;
  background: transparent;
}

.login > p {
  color: var(--browns-button-brown, #8a7b66);
}

.center {
  display: none;
}

.right {
  display: none;
}

.left,
.top {
  /* .left is .top for desktop screens */
  position: relative;
}

.top {
  border-bottom: 1px solid #d1c699;
  box-sizing: border-box;
  padding-bottom: 32px;
}

.bottom {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 24px;
  border-top: 1px solid #d1c699;
  box-sizing: border-box;
  width: 30px;
}

.user-avatar {
  height: 30px;
  width: 30px;
  box-sizing: border-box;
}

.logout {
  @apply flex mt-2;
}

.logout > svg > path {
  fill: #44373c;
}

@media screen and (max-width: 720px) {
  .app-nav {
    @apply flex-row space-x-4 w-full;

    height: 30px;
    width: 100%;
    padding: 0 12px;
    gap: unset;
    box-sizing: border-box;
  }

  .top {
    padding-bottom: 0;
    border-bottom: none;
  }

  .right,
  .center {
    display: flex;
  }

  .center {
    width: 100%;
    max-width: calc(100% - 200px);
    justify-content: space-between;
  }

  .login {
    display: none;
  }

  .bottom {
    display: none;
  }
}
