.app-nav {
  @apply flex space-x-4 w-full;

  background: transparent;
  justify-content: space-between;
  height: 28px;
  gap: 8px;
}

.logo {
  background: transparent;
}

.sign-in,
.login {
  border-radius: 80px;
  background: var(--tans-off-white, #fffff7);
  padding: 4px 8px;
  box-sizing: border-box;
}

.sign-in > p,
.login > p {
  font-size: 14px;
  font-weight: 500;
  color: var(--browns-dark-brown, #44373c);
}

.login {
  margin-right: 8px;
  background: transparent;
}

.login > p {
  color: var(--browns-button-brown, #8a7b66);
}

.center {
  display: none;
}

@media screen and (max-width: 720px) {
  .app-nav {
    padding: 0 12px;
    gap: unset;
  }

  .center {
    display: flex;
    width: 100%;
    max-width: calc(100% - 200px);
    justify-content: space-between;
  }

  .login {
    display: none;
  }
}
