.profile-menu {
  font-weight: unset;
}

.profile-menu > ul {
  list-style: none;
  list-style-type: none;
  font-weight: 500;
}

.profile-menu > ul > li {
  width: 100%;
  max-width: 100%;
  font-weight: 500;
}

.profile-menu > ul > li > button {
  font-weight: unset;
}

.profile-menu > ul > li > button > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.sign-in {
  @apply flex justify-center items-center;

  max-width: 100px;
}

.sign-in {
  height: 42px;
  width: 42px;
  border-radius: 80px;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid var(--grays-very-light-gray, #f5f5f5);
  background: var(--background-bg-background, #fff);
  box-shadow: 0px 1px 8px 6px rgba(0, 0, 0, 0.05);
}

.sign-in > p {
  max-width: 100%;
  font-size: 13px;
  font-weight: 500;
  color: var(--browns-dark-brown, #44373c);
}

.sign-in {
  border-radius: 50%;
  padding: 4px;
  height: 34px;
  width: 34px;
}
