.ReactModal__Overlay {
  background-color: rgba(256, 256, 256, 0.4) !important;
  display: flex;
  width: 100%;
  position: fixed;
  inset: 0px;
}

.dialog-section {
  @apply w-full sm:w-auto;
  animation: contentShow 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes contentShow {
  from {
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-center {
  @apply items-center sm:justify-center;
}

.modal-end {
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
  .modal-end .dialog-section {
    @apply w-full flex justify-end;
  }

  .modal-end {
    width: 100%;
    justify-content: flex-end;
  }
}
