#phaser-container {
  @apply flex justify-center items-center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#phaser-container > canvas {
  padding: 0;
  box-sizing: border-box;
}
