.game-screen-bot-chat {
  @apply absolute flex items-start justify-end w-[300px] h-full right-[24px] bottom-[24px] p-0 box-border;

  flex-direction: column;
}

.game-screen-bot-chat-content {
  @apply relative flex justify-end items-start w-full h-full box-border;

  flex-direction: column;
}

.game-screen-chat-stream {
  @apply relative flex items-start justify-end w-full box-border mb-[16px];

  flex-direction: column;
  padding-top: 40px;
  max-height: calc(100% - 64px);
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.game-screen-chat-stream::-webkit-scrollbar {
  opacity: 0;
  width: 0;
}

.game-screen-chat-stream > ul {
  @apply relative w-full box-border;

  list-style: none;
  list-style-type: none;
}

.game-screen-chat-stream > ul > li {
  @apply relative w-full box-border mt-[8px];
}

.game-screen-chat-input-container {
  @apply relative flex justify-between w-full items-center h-[48px] rounded-[48px] pr-[8px] pl-[16px] box-border;

  border: 1px solid #e5e5e5;
  background: #fff;
}

.game-screen-chat-input-container > input {
  @apply relative;

  max-width: calc(100% - 80px);
  width: 100%;
  background: transparent;
}

.game-screen-attach-file {
  @apply relative flex justify-center items-center h-[30px] w-[30px];
}

.game-screen-mic {
  @apply relative flex justify-center items-center h-[36px] w-[36px] p-0 rounded-[500px] bg-[#000];
}

.game-screen-mic > svg > path {
  fill: #fff;
}

.game-screen-chat-stream-bot-message > div:last-child > p:nth-child(1) {
  color: #fff;
}

.game-screen-bot-chat-reset-chat {
  @apply relative rounded-[24px] box-border;

  height: 32px;
  max-width: 120px;
  min-width: 110px;
  padding: 8px 16px;
  background: #fff;
  gap: 8px;
  box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.05);
}

.game-screen-bot-chat-reset-chat > p {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

@media screen and (max-width: 720px) {
  .game-screen-bot-chat {
    @apply w-full p-[24px] pt-0 bottom-0 right-0;
  }

  .game-screen-chat-stream {
    max-height: 300px;
  }
}
