.game-screen-bot-chat {
  @apply absolute flex items-start justify-end h-full p-0 bottom-0;

  flex-direction: column;
}

.game-screen-bot-chat-content {
  @apply relative flex justify-end items-start w-full h-full;

  flex-direction: column;
}

.game-screen-chat-stream {
  @apply relative flex items-start justify-end w-full box-border mb-[16px];

  flex-direction: column;
  padding-top: 40px;
  max-height: calc(100% - 64px);
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.game-screen-chat-stream::-webkit-scrollbar {
  opacity: 0;
  width: 0;
}

.game-screen-chat-stream > ul {
  @apply relative w-full box-border;

  list-style: none;
  list-style-type: none;
}

.game-screen-chat-stream > ul > li {
  @apply relative w-full box-border mt-[8px];
}

.game-screen-chat-input-container {
  @apply relative flex justify-between w-full items-center h-[102px] bg-black flex-col gap-3 py-4;
  border-radius: 10px 10px 0 0;
  justify-content: center;
}

.game-screen-chat-input-container input {
  @apply relative px-3;
  width: 100%;
  background: transparent;
  border: 0.5px solid rgba(256, 256, 256, 0.5);
  height: 36px;
}

.suggestion-section {
  @apply pl-4 flex gap-1 flex-nowrap overflow-x-scroll ml-auto w-full;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.suggestion-section::-webkit-scrollbar {
  display: none;
}

.suggestion-section .suggestion {
  @apply text-white whitespace-nowrap px-3 text-sm;
  border: 0.5px solid rgba(256, 256, 256, 0.5);
  height: 22px;
}

.game-screen-attach-file {
  @apply relative flex justify-center items-center h-[30px] w-[30px];
}

.chat-btn {
  @apply relative flex justify-center items-center h-[36px] min-w-[36px] p-0 bg-[#000];
  border: 0.5px solid rgba(256, 256, 256, 0.5);
}

.chat-btn > svg > path {
  fill: #fff;
}

.game-screen-chat-stream-bot-message > div:last-child > p:nth-child(1) {
  color: #fff;
}

.game-screen-bot-chat-reset-chat {
  @apply relative rounded-[24px] box-border;

  height: 32px;
  max-width: 120px;
  min-width: 110px;
  padding: 8px 16px;
  background: #fff;
  gap: 8px;
  box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.05);
}

.game-screen-bot-chat-reset-chat > p {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

@media screen and (max-width: 720px) {
  .game-screen-bot-chat {
    @apply w-full;
  }
  .game-screen-chat-stream {
    max-height: 100dvh;
  }
}
