.bot-chat {
  @apply relative flex justify-end items-center h-full w-full box-border p-[24px];

  flex-direction: column;
  border-radius: 24px;
  border: 1px solid #f5f5f5;
  background: #fff;
}

.reset-chat-container {
  @apply absolute;
}

.chat-input-container {
  @apply absolute flex justify-between items-center bottom-[24px] left-[24px] h-[48px] mt-[16px] rounded-[48px] pr-[8px] pl-[16px] box-border;

  width: calc(100% - 48px);
  border: 1px solid #e5e5e5;
  background: #fff;
}

.chat-input-container > input {
  @apply relative;

  max-width: calc(100% - 100px);
  width: 100%;
  background: transparent;
}

.attach-file {
  @apply relative flex justify-center items-center h-[36px] w-[36px];
}

.mic {
  @apply relative flex justify-center items-center h-[36px] w-[36px] p-0 rounded-[500px] bg-[#000];
}

.mic > svg > path {
  fill: #fff;
}

.reset-chat,
.hide-chat {
  @apply relative rounded-[24px] box-border;

  height: 32px;
  max-width: 120px;
  min-width: 110px;
  padding: 8px 16px;
  background: #fff;
  gap: 8px;
  box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.05);
}

.reset-chat > p,
.hide-chat > p {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.chat-stream {
  @apply relative w-full box-border pt-[4px];

  max-height: calc(100% - 60px);
  margin-bottom: 60px;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
}

.chat-stream::-webkit-scrollbar {
  opacity: 0;
  width: 0;
}

.chat-stream > ul {
  @apply relative w-full box-border;

  list-style: none;
  list-style-type: none;
}

.chat-stream > ul > li {
  @apply relative w-full box-border mt-[8px];
}
