.bot-message-container {
  @apply relative flex justify-start items-end box-border;
  gap: 4px;
}

.bot-message-avatar {
  @apply relative h-[22px] w-[22px] min-w-[22px];
}

.bot-message-avatar .rounded-none {
  border-radius: 0;
}

.bot-message-text .msg-box {
  display: flex;
  padding: 8px;
  align-items: flex-end;
  flex: 1 0 0;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  margin-top: 4px;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  background: rgba(0, 0, 0, 0.64);
  gap: 0 4px;
}

.bot-message-loading {
  @apply relative flex justify-center items-center box-border ml-[4px];

  gap: 4px;
}

.bot-message-text .msg-box svg > path {
  fill: white;
}

.bot-message-loading > svg > circle {
  fill: gray;
}
