.user-message {
  @apply relative flex justify-end items-end gap-1;
}

.user-message > .msg-box {
  display: flex;
  padding: 2px 8px;
  align-items: flex-start;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  margin-top: 4px;
  font-size: 12px;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.64);
  line-height: 18px;
}
