.onboard-display-name {
  @apply flex-col justify-start items-start;

  position: relative;
  padding-top: 16px;
  box-sizing: border-box;
}

.label {
  @apply flex justify-start items-center mt-2 mb-2;

  width: 100%;
}

.label > p {
  font-size: 14px;
  font-weight: 600;
}

.input-display-name {
  @apply mt-2 mb-4;

  width: 100%;
  border-radius: 4px;
  height: 36px;
  padding: 4px 8px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  background: transparent;
  border: 1px solid #dededc;
}

.input-display-name:hover,
.input-display-name:focus {
  border-color: #9f9f9d;
}

.input-error {
  @apply flex justify-center items-center mb-4;

  width: 100%;
}

.input-error > p {
  color: red;
  font-size: 14px;
}

.submit-button {
  @apply flex justify-start items-center mt-8;

  margin-top: 8px;
  width: 100%;
}
