.avatar-layout {
  @apply flex justify-center items-center h-full w-full box-border p-0 rounded-[100%] overflow-hidden bg-[#000];
}

.avatar-layout > p {
  height: inherit;
  width: inherit;
  text-align: center;
  color: #fff;
  background: transparent;
}

.avatar-image {
  @apply flex h-full w-full justify-center items-center box-border;

  object-position: center;
  object-fit: cover;
}
