.avatar-layout {
  height: 100%;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  border-radius: 100%;
  background: #44373c;
  overflow: hidden;
}

.avatar-layout > p {
  height: inherit;
  width: inherit;
  text-align: center;
  color: #fff;
  background: transparent;
}

.avatar-image {
  @apply flex justify-center items-center;

  height: 100%;
  width: 100%;
  box-sizing: border-box;
  object-position: center;
  object-fit: cover;
  box-sizing: border-box;
}

.avatar-fallback {
  @apply flex justify-center items-center;
  color: #fff;
  background: #44373c;
}
