.btn-gift {
  @apply relative px-3 h-[36px] text-xs text-white;
  width: 100%;
  background: transparent;
  border: 0.5px solid white;
}

.btn-active {
  @apply relative px-3 h-[36px] text-xs text-black;
  width: 100%;
  border: 0.5px solid white;
  background: white;
}

@media screen and (max-width: 767px) {
}
