@font-face {
    font-family: Hello-Goops;
    src: url("../../assets/fonts/Hello-Goops.otf") format("opentype");
}

.main-content {
    height: 88vh;
}

.info-layout {
  border-radius: 12px;
  background: var(--off-white, #FFFFF7);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
  width: 260px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  height: 100%;
}

.info-layout-collapsed {
    border-radius: 12px;
    background: var(--off-white, #FFFFF7);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 100%;
    padding: 0px 10px;
}


.info-header {
  color: #44373C;
  font-size: 32px;
  font-family: Hello-Goops;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
  margin: 0px 10px;
}

.info-header-collapsed {
  color: #44373C;
  font-size: 32px;
  font-family: Hello-Goops;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
  margin: 10px;
}

.message-container {
  display: flex;
  padding: 0px 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-bottom: 1px solid #EEE9CA;
}

.header-container {
  display: flex;
  padding: 0px;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
}

.header-container-collapsed {
    display: flex;
    padding: 0px;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    width: 163px;
    cursor: pointer;
}

.conditions-container {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.host-container {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.info-message, .info-host {
  color: #725C4E;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  padding: 0;
}

.info-label {
  color: #725C4E;
  font-size: 12px;
  font-style: bold;
  font-weight: 600;
  padding: 0;
  margin: 10px 0px;
}

.pin {
  position: absolute;
  top: 0px;
  left: 120px;
}

.pin-collapsed {
  position: absolute;
  top: 0px;
  left: 73px;
}

.camp-host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.user-avatar {
  width: 16px;
  height: 16px;
}

.playlist-container {
  display: flex;
  flex-direction: column;
}

.closebutton-container {
    display: flex;
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    background: var(--eggshell, #FFFBE7);
    cursor: pointer;
  }