.apps {
  margin-top: 8px;
}

.app-item {
  flex-direction: row;
  margin-top: 4px;
  column-gap: 10px;
  display: flex;
  align-items: center;
  padding: 0px 12px 0px 12px;
  gap: 12px;
  border-radius: 8px;
  background: var(--tans-light-off-white, #f8f4e8);
  width: 100%;
  height: 40px;
}

.app-item > p {
  color: #44373c;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-align: left;
}

.chat-icon > svg > path {
  fill: var(--browns-grey-brown, #bab7a4);
}
