@font-face {
  font-family: Hello-Goops;
  src: url('/assets/fonts/Hello-Goops.otf') format('opentype');
}

.main-content {
  height: calc(100% - 270px);
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
}

.info-layout {
  position: absolute;
  border-radius: 12px;
  background: var(--off-white, #fffff7);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
  width: 260px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
  margin: 0;
  top: 12px;
  left: 12px;
  height: calc(100% - 24px);
}

.info-layout-collapsed {
  border-radius: 12px;
  background: var(--off-white, #fffff7);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 0px 10px;
  box-sizing: border-box;
}

.info-header {
  color: #44373c;
  font-size: 32px;
  font-family: Hello-Goops;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.info-header-collapsed {
  color: #44373c;
  font-size: 32px;
  font-family: Hello-Goops;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin: 10px;
  margin-top: 20px;
}

.message-container {
  display: flex;
  padding: 0px 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-bottom: 1px solid #eee9ca;
}

.header-container {
  display: flex;
  padding: 0px;
  flex-direction: row;
  align-items: flex-start;
  gap: 33px;
  align-self: stretch;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.header-container-collapsed {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-around;
  width: 163px;
  cursor: pointer;
  top: 12px;
  left: 12px;
}

.conditions-container {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.host-container {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.info-message,
.info-host {
  color: #725c4e;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  padding: 0;
}

.info-label {
  color: #725c4e;
  font-size: 12px;
  font-style: bold;
  font-weight: 600;
  padding: 0;
  margin: 10px 0px;
}

.pin {
  position: absolute;
  top: 0px;
  left: 120px;
}

.pin-collapsed {
  position: absolute;
  top: 0px;
  left: 73px;
}

.camp-host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.info-user-avatar {
  width: 16px;
  height: 16px;
}

.playlist-container {
  display: flex;
  flex-direction: column;
  height: 270px;
}

.closebutton-container {
  display: flex;
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  background: var(--eggshell, #fffbe7);
  cursor: pointer;
}
