.media-player {
  @apply absolute flex items-center justify-start;

  top: 16px;
  right: 16px;
  border-radius: 16px;
  padding: 8px;
  box-sizing: border-box;
  background: var(--transparent-light, rgba(0, 0, 0, 0.16));
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.album {
  height: 36px;
  width: 36px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
}

.album > img {
  height: 36px;
  width: 36px;
  object-fit: cover;
  object-position: center;
}

.album-info {
  margin-left: 8px;
  width: 96px;
  box-sizing: border-box;
}

.album-info > p {
  color: var(--tans-off-white, #fffff7);
}

.album-info > p:nth-child(1) {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
}

.album-info > p:last-child {
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
}

.play-toggle {
  @apply flex justify-center items-center;

  height: 36px;
  width: 36px;
  border-radius: 500px;
  background: var(--transparent-light, rgba(0, 0, 0, 0.16));
  margin-left: 8px;
}

@media screen and (max-width: 720px) {
  .album-info {
    display: none;
    height: 0;
    overflow: hidden;
  }
}
