.user-avatar {
  box-sizing: border-box;
  height: 32px;
  width: 32px;
}

.user-avatar > span > span {
  background: transparent;
}

@media screen and (max-width: 720px) {
  .user-avatar {
    height: 20px;
    width: 20px;
  }
}
