.message-box-container {
  width: 264px;
  padding: 10px;
  border-radius: 16px 16px 0px 0px;
  border: 0px 0px 1px 0px;
  gap: 8px;
  background-color: #EEE9CA;
}

.messenger-container {
  width: 244px;
  height: 20px; 
  padding: 16px 12px 16px 12px;
  border-radius: 16px;
  border: 1px;
  justify-content: space-between;
  background-color: #FFFFF7;
}

input#message {
  border: none;
  width: 85%;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: #BAB7A4;
}

input#message:focus {
  outline: none;
}