.playlist-icon {
    width: 12px;
    height: 12px;
    margin: 10px;
    align-self: center;
}

.playlist-header {
    height: 24px;
    background-color: #EEE9CA;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40%;
}

.playlist-section-label {
    display: flex;
    flex-direction: row;
}

.playlist-label {
    color: #725C4E;
    font-size: 12px;
    font-style: bold;
    font-weight: 600;
    padding: 0;
}

.playlist-actions {
    align-self: flex-end;
}

.actions-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #9A835A;
  margin: 5px;
}

.song-section {
  display: flex;
  flex-direction: row;
}

.song-info {
  align-self: center;
}

.song-title {
  color: #725C4E;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 160% */
  margin: 0;
}

.song-artist {
  color: #8A7B66;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
}

.music-button {
  display: flex;
  align-self: center;
  margin: 8px;
}