.root-container {
  @apply h-full w-full;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  background: var(--tans-light-off-white, #f8f4e8);
}

@media screen and (max-width: 720px) {
  .root-container {
    overflow-y: auto;
  }
}
