.root-container {
  @apply absolute flex items-start w-full h-full top-0 left-0;

  justify-content: space-between;
  box-sizing: border-box;
  background: #fff;
}

@media screen and (max-width: 720px) {
  .root-container {
    overflow-y: auto;
  }
}

.bot-audio {
  position: absolute;
  top: -100px;
  left: -200px;
  overflow: hidden;
  opacity: 0;
  height: 0;
}
