.root-container {
  @apply absolute flex items-start w-full h-full top-0 left-0;

  justify-content: space-between;
  box-sizing: border-box;
  background: #f8f6f0;
}

@media screen and (max-width: 720px) {
  .root-container {
    overflow-y: auto;
  }
}
