.links-layout {
  margin-top: 8px;
}

.links-wrapper {
  @apply relative bg-[#f8f4e8] mt-[4px] rounded-[8px] w-full h-[40px];
}

.links-wrapper:hover {
  background: #f0e9d1;
}

.link-anchor {
  @apply relative flex justify-start items-center w-full;

  column-gap: 10px;
  text-decoration: none;
  color: #44373c;
  padding: 0px 12px 0px 12px;
  box-sizing: border-box;
}

.link-label > p {
  color: #44373c;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
  max-width: calc(100% - 100px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrow-icon {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 2px;
  margin-left: -2px;
}
