.text-input {
  position: relative;
  font-weight: normal;
  outline: none;
  box-shadow: unset;
  border-radius: 0px;
}

.primary-input {
  width: 100%;
  border-radius: 0px;
  height: 36px;
  padding: 4px 8px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  background: transparent;
  border: 1px solid #dededc;
}

.primary-input:hover,
.primary-input:focus {
  border-color: #9f9f9d;
}
