.avatar-layout {
  height: 100%;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  border-radius: 50%;
  background: #eee9ca3d;
  overflow: hidden;
}

.avatar-image {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  object-position: center;
  object-fit: cover;
  box-sizing: border-box;
}

.avatar-layout > p {
  height: inherit;
  width: inherit;
  text-align: center;
  color: #fff;
  background: transparent;
}
