.chat-input {
  position: relative;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.16);
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 8px;
  height: 54px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}

.toggle-emojis,
.expand-chat,
.microphone {
  @apply flex justify-center items-center;

  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 500px;
  margin: 0;
  background: rgba(0, 0, 0, 0.16);
}

.chat-form {
  position: relative;
  margin: 0 8px;
  max-width: 220px;
  min-width: 180px;
  box-sizing: border-box;
  height: 36px;
}

.chat-form > input[type='text'] {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  padding: 16px 12px;
  padding-right: 30px;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.16);
}

.chat-form > input[type='text']::placeholder {
  color: var(--tans-off-white, #fffff7);
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
}

.chat-form > input[type='text']:focus {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.send-button {
  @apply absolute flex justify-center items-center;

  height: 24px;
  width: 24px;
  top: 6px;
  right: 4px;
  box-sizing: border-box;
}

@media screen and (max-width: 720px) {
  .chat-form {
    width: 120px;
  }

  .chat-form > input[type='text'] {
    font-size: 16px;
  }
}
