.chat-mobile {
  height: 92vh;
  width: 100%;
  box-sizing: border-box;
}

.chat-mobile .bulletin-chat > .chat-form {
  box-sizing: border-box;
  max-width: unset;
  width: calc(100% - 100px);
}

@media screen and (max-width: 720px) {
  .chat-mobile {
    height: 92%;
    position: relative;
  }
}
