.sticky-chat {
  position: absolute;
  bottom: 12px;
  top: unset;
  right: 12px;
  max-width: 500px;
  display: none;
}

.sticky-chat-input {
  display: none;
}

.sticky-chat-cover {
  @apply h-full w-full;

  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 720px) {
  .sticky-chat {
    display: flex;
    height: 56px;
    width: 100%;
    max-width: 720px;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    position: fixed;
  }

  .sticky-chat-input {
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
    display: flex;
    justify-content: flex-start;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #f8f4e8;
    width: 100%;
  }

  .sticky-chat-input > .toggle-emojis,
  .sticky-chat-input > .expand-chat,
  .sticky-chat-input > .chat,
  .sticky-chat-input > .microphone {
    background: #fffff7;
  }

  .sticky-chat-input > .toggle-emojis:hover,
  .sticky-chat-input > .expand-chat:hover,
  .sticky-chat-input > .chat:hover,
  .sticky-chat-input > .microphone:hover {
    background: #f5efdc;
  }

  .sticky-chat-input > .toggle-emojis > svg > path,
  .sticky-chat-input > .expand-chat > svg > path,
  .sticky-chat-input > .chat > svg > path,
  .sticky-chat-input > .microphone > svg > path {
    fill: #bab7a4;
  }

  .sticky-chat-input > .chat-form {
    max-width: calc(100% - 80px - 8px);
    width: calc(100% - 80px);
    margin: 0 8px;
  }

  .sticky-chat-input > .chat-form > input[type='text'] {
    background: #fffff7;
    color: #725c4e;
  }

  .sticky-chat-input > .chat-form > input[type='text']::placeholder {
    color: #bab7a4;
  }

  .sticky-chat-input > .chat-form > .send-button > svg > path {
    fill: #bab7a4;
  }
}
