.sticky-chat {
  position: absolute;
  bottom: 12px;
  top: unset;
  right: 12px;
  max-width: 500px;
}

@media screen and (max-width: 720px) {
  .sticky-chat {
    display: none;

    // & > div {
    //   padding: 8px;

    //   & > form {
    //     display: none;
    //   }
    // }
  }

  .chat {
    display: flex;
    // margin-left: 8px;
  }

  .expand-chat {
    display: none;
  }
}
