.main-component {
  @apply fixed flex w-full justify-start items-start top-0 left-0 h-full w-full box-border;
}

.header-nav {
  height: calc(100vh - 24px);
  max-width: 96px;
  padding: 30px 0;
}

.header-nav,
.main-component-content {
  @apply relative flex w-full box-border;
}

.main-component-content {
  @apply flex justify-between items-center;
}

.fullWidthStyle {
  @apply mt-[16px];
  padding-right: 54px;
  max-height: calc(100% - 38px - 16px);
}

.right-sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-content,
.space-content {
  @apply relative h-full box-border;

  width: calc(50% - 20px);
  overflow: hidden;
}

.card-game-content {
  border-radius: 40px;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
}

.world {
  background: transparent;
}

.game-content-min-sm {
  width: 400px;
}

.game-content-max {
  width: 100%;
}

.space-content {
  padding-left: 24px;
}

.space-content-min-sm {
  width: calc(100% - 400px - 10px - 20px);
}

.space-content-hide {
  display: none;
  height: 0;
  overflow: hidden;
  width: 0;
}

.space-content-desktop {
  display: flex;
}

.space-content-mobile {
  display: none;
}

.share-button-style {
  @apply flex justify-center items-center top-[16px] left-[16px] w-9 h-9 text-white;

  gap: 8px;
  background: rgba(0, 0, 0, 1);
}

.expand-min-options {
  @apply flex justify-center items-center top-[16px] right-[16px] w-9 h-9;

  gap: 8px;
  background: rgba(0, 0, 0, 1);
}

.expand-min-options > button,
.volume-button-style > button {
  @apply relative flex justify-center items-center h-[40px] w-[40px] p-[4px] box-border rounded-[500px];

  background: rgba(0, 0, 0, 0.24);
}

.volume-button-style > button svg {
  filter: contrast(0) brightness(100);
}

.expand-min-options > button:hover {
  background: rgba(0, 0, 0, 0.3);
}

.game-content-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.game-content-background > img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 767px) {
  .main-component {
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .header-nav {
    border-bottom: 0.5px solid #e5e5e5;
    max-width: 100%;
    padding: 10px 0;
    position: absolute;
  }

  .app-nav {
    flex-direction: row;
  }

  .space-content-desktop {
    display: none;
  }

  .main-component-content {
    flex-direction: column;
    box-sizing: border-box;

    max-height: calc(100% - 40px - 8px);
  }

  .game-content,
  .space-content {
    @apply w-full h-[unset] box-border;
  }

  .space-content-mobile {
    @apply relative flex w-full box-border pb-[20px];
  }

  .space-content {
    padding: 4px 8px 0 16px;
  }

  .game-content {
    height: 100dvh;
    position: fixed;
    border-radius: 0;
    z-index: -1;
  }

  .game-content-expand-screen {
    position: fixed;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    overflow: hidden;
  }

  .space-content {
    padding: 16px 16px 0;
  }

  .fullWidthStyle {
    padding-right: 0;
  }

  .main-component-content {
    margin-top: 0;
  }
}
