.main-component {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  width: 100%;
  min-width: 400px;
  min-height: 500px;
  gap: 12px;
  padding: 12px 12px 12px 16px;
  box-sizing: border-box;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
