.main-component {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 12px 16px;
  box-sizing: border-box;
}

.fix-screen-overflow {
  @apply overflow-y-auto;
}

.right-sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-screen {
  position: relative;
  height: calc(100% - 12px);
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
  min-height: 440px;
  padding: 12px 12px 12px 16px;
  box-sizing: border-box;
  border-radius: 24px;
  overflow: hidden;
}

.right-sidebar-user {
  top: 12px;
  right: 12px;
}

@media screen and (max-width: 720px) {
  .main-component {
    padding: 0;
    padding-top: 16px;
  }

  .game-screen {
    height: calc(100% - 16px);
    margin-top: 16px;
    border-radius: 0;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }
}
