body {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: system;
  width: 1280px;
  height: 780px;
  padding: 12px 12px 12px 16px;
  align-items: flex-start;
  gap: 12px;
  background: url(<path-to-image>), lightgray 0% 0% / 7.999999821186066px 7.999999821186066px repeat, #8A5134;
  background-blend-mode: color-burn, normal;
}