@keyframes quiet {
  25% {
    transform: scaleY(0.4);
  }
  50% {
    transform: scaleY(0.2);
  }
  75% {
    transform: scaleY(0.6);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.6);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(0.8);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(1);
  }
}

.animated-audio-wave {
  @apply relative box-border h-[36px] p-0;
}

.animated-audio-wave-box-container {
  @apply relative h-full box-border;

  display: flex;
  justify-content: space-between;
  --boxSize: 6px;
  --gutter: 4px;
  width: calc((var(--boxSize) + var(--gutter)) * 5);
}

.animated-audio-wave-box {
  transform: scaleY(0.4);
  height: 100%;
  width: var(--boxSize);
  background: #000;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.box1 {
  animation-name: quiet;
}

.box2 {
  animation-name: normal;
}

.box3 {
  animation-name: quiet;
}

.box4 {
  animation-name: loud;
}

.box5 {
  animation-name: quiet;
}
