.subscribebutton-container {
    display: flex;
    height: 40px;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: #9FE870;
    border-radius: 8px;
    cursor: pointer;
}

.subscribe-button {
  color:  #44373C;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}