.link-input-container {
  @apply flex h-[38px] justify-start items-start relative w-full box-border;

  flex-direction: column;
  padding: 0 16px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  background: #fff;
}

.link-input-container > div:first-child {
  @apply relative w-full;
}

.link-input-url {
  @apply relative flex justify-between items-center p-0 box-border w-full;

  gap: 8px;
}

.link-input-url > input[type='text'] {
  @apply relative h-full bg-[transparent] box-border;

  width: calc(100% - 64px);
  font-size: 14px;
}

.link-input-url {
  @apply mt-[8px];
}

.toggle-hide {
  @apply relative flex mr-4;
}

.link-input-delete {
  @apply relative;

  height: 36px;
  width: 80px;
  padding: 8px 16px;
  border-radius: 50px;
  box-sizing: border-box;
  background: #c72323;
}

.link-input-delete > p {
  font-size: 16px;
  color: #fff;
}
